html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Black background */
    color: #f5f5f5; /* Light grey text */
}


#quiz-container {
    width: 80%;
    max-width: 800px; /* or any other value */
    padding: 20px;
    background-color: #333; /* Dark grey background for the content container */
    color: #f5f5f5; /* Light grey text */
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.1);
    margin: 50px 0;
}

#timer-container {
    font-size: 20px;
    color: #f5f5f5; /* Light grey text */
    background-color: #4b4b4b; /* Darker grey background for contrast */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}
button {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    color: #f5f5f5; /* Light grey text */
    background-color: #555; /* Medium grey background */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #777; /* Lighter grey on hover */
}

button:active {
    background-color: #333; /* Darker grey on click */
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button:focus {
    outline: none;
}



input[type="radio"], input[type="text"] {
    margin-right: 10px;
}

input[type="radio"] {
    display: none;
    margin: 10px 10px 10px 0;
}

label {
    display: inline-block;
    width: 70px;
    margin: 10px 0px;
    padding: 10px;
    background-color: #4b4b4b; /* Darker grey background for contrast */
    color: #f5f5f5; /* Light grey text */
    border-radius: 5px;
    cursor: pointer;
}

label:hover {
    background-color: #3b3b3b; /* Slightly darker grey on hover */
}

label.selected {
    background-color: #2b2b2b; /* Even darker grey when selected */
}





#options, #matches {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

#options li, #matches li {
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 10px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    cursor: move;
}

#options li:hover, #matches li:hover {
    background-color: #2b2b2b;
}

#quiz-container div[id^="result-"] {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#quiz-container div[id^="result-"] p {
    margin: 0;
    padding: 5px 0;
}

#quiz-container div[id^="result-"] {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#quiz-container div[id^="result-"].correct {
    background-color: #d4edda;
    border-color: #c3e6cb;
    box-shadow: 0 0 10px 0 #c3e6cb;
}

#quiz-container div[id^="result-"].incorrect {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    box-shadow: 0 0 10px 0 #f5c6cb;
}

@media (max-width: 480px) {
    #quiz-container h1 {
        font-size: 30px;
    }


    /* Adjust font sizes for mobile devices */
    #quiz-container p, #quiz-container button, #timer, #matches li, #options li {
        font-size: 14px;
    }
    #text-answer {
        font-size :11px;
    }

    #quiz-container h1 {
        font-size: 30px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    #quiz-container p, #quiz-container button, #timer, #matches li , #options li {
        font-size: 16px;
    }
    #text-answer {
        font-size :13px;
    }
    #quiz-container h1 {
        font-size: 34px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {


    #quiz-container p, #quiz-container button, #timer, #matches li , #options li {
        font-size: 18px;
    }
    #text-answer {
        font-size :15px;
    }
    #quiz-container h1 {
        font-size: 38px;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {

    #quiz-container p, #quiz-container button, #timer, #matches li , #options li {
        font-size: 20px;
    }
   
    #text-answer {
        font-size :15px;
    }
    #quiz-container h1 {
        font-size: 40px;
    }
}

@media (min-width: 1201px) {

    #quiz-container p, #quiz-container button, #timer, #matches li , #options li  {
        font-size: 22px;
    }
    #text-answer {
        font-size :17px;
    }
    #quiz-container h1 {
        font-size: 40px;
    }

}
